section.contact {
    padding: 45px 15%;
} 
.contacts_form {
    background-color: #ECECEC;
    padding: 20px;
    margin-top: 45px;
}
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 0px 20px;
}
form input {
    padding: 20px;
    width: 100%;
    font-size: 14px; 
}
.full-width {
    grid-column-start: 1;
    grid-column-end: 3;
}
textarea, button {
    width: 100%;
}
button {
    font-family: JuliusOne;
    background-color: #2d2d2d;
    color: white;
    font-size: 20px;
    border: none;
}

/* IPAD PRO PORTRAIT */

@media only screen and (max-width: 1024px) and (orientation: portrait) {
    
   
}
/* IPAD PRO LANDSCAPE */

@media only screen and (max-width: 1366px) and (orientation: landscape) {

   
}
@media only screen and (max-width: 768px) {

 
    
}