section.contact {
    padding: 45px 15%;
} 
main:before {
    background-color: #ECECEC;
}
.contacts_form {
    background-color: #ECECEC;
    padding: 20px;
    margin-top: 45px;
}
figure img {
    width: 65%;
    margin: auto auto;
}
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 0px 20px;
}
form input, textarea {
    padding: 20px;
    width: 100%;
    font-size: 14px;
    outline: none;
    font-family: Montserrat;
    color: black;
}
.full-width {
    grid-column-start: 1;
    grid-column-end: 3;
}
textarea, button {
    width: 100%;
    outline: none;
}
input[type=submit] {
    font-family: JuliusOne;
    background-color: #2d2d2d;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
input[type=submit]:hover {
    opacity: 0.9;
}
form input:focus, textarea:focus {
    border-bottom: 1px solid #2d2d2d;
}

/* IPAD PRO PORTRAIT */

@media only screen and (max-width: 1024px) and (orientation: portrait) {
    section.contact {
        padding: 45px 5%;
    } 
}
/* IPAD PRO LANDSCAPE */

@media only screen and (max-width: 1366px) and (orientation: landscape) {
    section.contact {
        padding: 45px 5%;
    } 
}
@media only screen and (max-width: 812px) and (orientation:landscape) {

}    
/* RESPONSIVE MOBILE (iPhone X) */

@media only screen and (max-width: 375px) {
    form input {
        padding: 5px;
    }
    section.contact {
        padding: 45px 0%;
    }
    .contacts_form {
        padding: 20px 5px;
    } 
    figure img {
        width: 80%;
        margin: 0px auto;
    }
}